
{% extends 'base.html' %}

{% block header %}
{{ super() }}
<ul>
<li><a href="{{ url_for('profile') }}">My Profile</a></li>
<!-- <li><a href="{{ url_for('stores') }}">Check Book Availability</a></li>
<li></li><a href="{{ url_for('ratings') }}">Rate Books</a></li> -->
</ul>
{% endblock %}

{% block content %}
<form method="POST" action="/searchBooks">
  <h1>SEARCH BOOKS HERE!</h1>
  <p>Title of book: <input type="text" name="title"> <input type="submit" value="Search"></p>
  </form>
  
  <form method="POST" action="/searchAuthor">
  <p>Author name: <input type="text" name="name"> <input type="submit" value="Search"></p>
  </form>
  
  <form method="POST" action="/searchGenre">
  <p>Genre: <input type="text" name="genre"> Number of Results:
    <input type="number" min="1" name="num" value="10">
    Ratings by:
    <select name="order">
          <option value="DESC">Descending</option>
          <option value="ASC">Ascending</option>
    </select>
    <input type="submit" value="Search"></p>
  </form>
{% endblock %}

