


{% extends 'base.html' %}

{% block header %}
{{ super() }}
<h1>Reviews for '{{title[0]}}'</h1>

{% endblock %}

{% block content %}
</p><a href="{{ url_for('home') }}">Back to home</a></p>

    <table>
      <tr>
        <th>User</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>

      {% for r in reviews%}
        <tr>
          <td>{{r[0]}}</td>
          <td>{{r[1]}}</td>
          <td>{{r[2]}}</td>
        </tr>
     {% endfor %}
    </table>

    </div>
    <style>
      #myDIV {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        margin-top: 20px;
        display: none;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
  <script>
      function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
      </script>


{% endblock %}


