{% extends 'base.html' %}
{% block header %}
{{ super() }}
<h1>AUTHORS</h1>
{% endblock %}
{% block content %}
<form method="POST" action="/searchAuthor">
  <p>Author name: <input type="text" name="name"> <input type="submit" value="Search"></p>
  </form>
  
  <p><a href="home">back</a></p>
  
  
  <body>
  {% for j in range(numResults)%}
  <h3>{{name}}</h3>
    <div>
      {% for i in range(3)%}
      <div>{{l[i]}} {{info[j*3+i]}}</div>
      {% endfor %}
    </div>
    <div>
      Books:
      {% if numBooks|length != 0 %}
      {% for i in range(numBooks[j][0])%}
      <div>{{data[counter[j]+i]}}</div>
      {% endfor %}
      {% endif %}
  
    </div>
    <div>---------------------------------------------------</div>
  {% endfor %}
  
  
  </body>
{% endblock %}

<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>



</body>
</html> -->