{% extends 'base.html' %}
{% block header %}
{{ super() }}
<h1>GENRES and BOOKS</h1>
{% endblock %}
{% block content %}
<form method="POST" action="/searchGenre">
  <p>Genre: <input type="text" name="genre"> Number of Results:
      <input type="number" value="10" min="1" name="num" >
      Ratings by:
      <select name="order">
          <option value="DESC">Descending</option>
          <option value="ASC">Ascending</option>
      </select>
    <input type="submit" value="Search"></p>
  </form>
  
  <p><a href="home">back</a></p>
  
  
  <body>
  
    <div>
      {% for each in data%}
      <div>{{each}}</div>
      {% endfor %}
    </div>
  
  
  </body>
{% endblock %}

<!-- <form method="POST" action="/searchGenre">
<p>Genre: <input type="text" name="genre"> Number of Results:
    <input type="number" value="10" min="1" name="num" >
    Ratings by:
    <select name="order">
        <option value="DESC">Descending</option>
        <option value="ASC">Ascending</option>
    </select>
  <input type="submit" value="Search"></p>
</form>

<p><a href="home">back</a></p>


<body>

  <div>
    {% for each in data%}
    <div>{{each}}</div>
    {% endfor %}
  </div>


<body>

</body>
</html> -->