{% extends 'base.html' %}
{% block header %}
{{ super() }}
<h1>Books</h1>
{% endblock %}

{% block content %}
  
<form method="POST" action="/searchBooks">
  <p>Title of book: <input type="text" name="title"> <input type="submit" value="Search"></p>
  </form>
  
  <p><a href="home">back</a></p>
  
  
  <body>
  <h3>search results for: {{input}}</h3>
    <div>
      {% for j in range(numResults)%}
      {% for i in range(11) %}
      <div>{{l[i]}} {{data[j*11+i]}}</div>
      {% endfor %}

      <br>
      <div>{{onlineStore[j*2 + 0]}}</div>
      <div><a href={{onlineStore[1]}}>{{onlineStore[j*2 + 1]}}</a></div>
      <br>
      <div>{{offlineStore[j*2 + 0]}}</div>
      <div>{{offlineStore[j*2 + 1]}}</div>
      <div>{{offlineStore[j*2 + 2]}}</div>

      <form method="POST" action="/addFavorite">
        <p><button type="submit" name="ISBN" value={{data[j*11+2]}}>Add to Favorite</button></p>
      </form>
      <form method="POST" action="/ratings">
        <p><button type="submit" name="ISBN" value={{data[j*11+2]}}>Write a Review</button></p>
      </form>
      <div>------------------------------------------------------</div>
      {% endfor %}
    </div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<form method="POST" action="/searchBooks">
<p>Title of book: <input type="text" name="title"> <input type="submit" value="Search"></p>
</form>

<p><a href="home">back</a></p>


<body>
<h3>search results for: {{input}}</h3>
  <div>
    {% for j in range(numResults)%}
    {% for i in range(11) %}
    <div>{{l[i]}} {{data[j*11+i]}}</div>
    {% endfor %}
    <form method="POST" action="/addFavorite">
    <button type="sumbit" name="title" value={{input}}>Add to Favorite</button>
    </form>

    <div>------------------------------------------------------</div>
    {% endfor %}
  </div>


<body>

</body>
</html> -->